ul{
  list-style: none;
  padding-left: 0;
}
li{
  padding: 7px 10px;
}
li:hover{
  cursor: pointer;
  color: #7c0;
}
li a{
  color: #333;
}
header{
  background: lightgrey;
}
.active{
  color: #dc3545;
}